__pycache__/
.vs/
.vscode/
/build/
/out/
/tools/out/
/src/
/include/
/.idea/
/cmake-build-debug/
/cmake-build-debug-visual-studio/
/bin/
/lib/
_main.cc
/stl/src/_alg_test/
/CMakeFiles/
*.pyd
*.dll
*.exe

game/mario/files
game/mario/cmake